<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="AboMapperCustom-49343" />
            <add name="AboMapperCustom-49343" path="*.wso" verb="*" modules="IsapiModule" scriptProcessor="C:\VDF18.2\Bin\waswsvc.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" responseBufferLimit="0" />
        </handlers>
    </system.webServer>
</configuration>
